<!-- Select -->
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Instrument</strong></div>
    <div class="panel-body">
            <span class="ui-select">
                <select>
                    <option>{{HPLC}}</option>
                    <option>ELISA</option>
                    <option>qHTS</option>
                </select>
            </span>
    </div>
</section>
<!-- end Select -->
<!-- Datepicker -->
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Assay Date Scheduler</strong></div>
    <div class="panel-body" data-ng-controller="DatepickerDemoCtrl">
        <div class="row">
            <div class="col-sm-4">

                <div class="input-group ui-datepicker">
                    <input type="text"
                           class="form-control"
                           datepicker-popup="{{format}}"
                           ng-model="dt"
                           is-open="opened"
                           min="minDate"
                           max="'2015-06-22'"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           close-text="Close">
                    <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="callout callout-info">
                    <p>Date is: {{dt | date:'fullDate'}}</p>
                </div>
            </div>

            <div class="col-sm-8">
                <p>
                    Format:
                        <span class="ui-select">
                            <select ng-model="format"
                                    ng-options="f for f in formats"></select>
                        </span>
                </p>

                <button class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <div class="space"></div>
                <button class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
                <div class="space"></div>
                <button class="btn btn-sm btn-success" ng-click="toggleWeeks()" tooltip="For inline datepicker">Toggle Weeks</button>
                <div class="space"></div>
                <button class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <div class="space"></div>
                <button class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
            </div>
        </div>
    </div>
</section>
<!-- end Datepicker -->
<!-- Timepicker -->
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Time Scheduler</strong></div>
    <div class="panel-body" data-ng-controller="TimepickerDemoCtrl">
        <div class="row">
            <div class="col-sm-4">
                <div ng-model="mytime" ng-change="changed()" style="display:inline-block;">
                    <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </div>
                <div class="callout callout-info">
                    <p>Time is: {{mytime | date:'shortTime' }}</p>
                </div>
            </div>

            <div class="col-sm-8">
                <p>
                    Hours step is:
                    <span class="space"></span>
                    <span class="ui-select"><select ng-model="hstep" ng-options="opt for opt in options.hstep"></select></span>
                </p>
                <p>
                    Minutes step is:
                    <span class="ui-select"><select ng-model="mstep" ng-options="opt for opt in options.mstep"></select></span>
                </p>

                <button class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
                <div class="space"></div>
                <button class="btn btn-default" ng-click="update()">Set to 14:00</button>
                <div class="space"></div>
                <button class="btn btn-danger" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</section>
<!-- end Timepicker -->
